{% load static %}
<!DOCTYPE html>
<!-- Load Leaflet from CDN -->



<style>
      #mapAddCase{
        height:500px;
        width:100%;
      }

</style>
<div class="modal fade" id="AddCaseModal" tabindex="-1" role="dialog" aria-labelledby="AddCaseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddCaseModalLabel">Añadir Nuevo Feminicidio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="dataNewCase">
          {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre Completo (Nombre Apellido)</label>
            <input type="text" class="form-control" id="completeName">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Ubicacion del Feminicidio</label>
            <br>
            <select id='departmentList2'> </select> <br>
            <select id='provinceList2'> </select> <br>
            <label for="recipient-name" class="col-form-label">Direccion del Feminicidio</label>
            <input type="text" class="form-control" id="AddressFeminicidio">
            <br>
            <p>Indique en el mapa la geolocalizacion de el feminicidio</p>
            <div id="mapAddCase">

            </div>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Fecha Muerte</label>
            <div id="dateselection">
              <input id="single-datepicker-input" type="text">
            </div>

          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Edad</label>
            <select id="edadVictima" class="1-100"></select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Numero De Hijos</label>
            <select id="NumeroDeHijos" class="1-100"></select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Agression Previa</label>
            <textarea class="form-control" id="AgressionPrevia"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Causa de Muerte</label>
            <textarea class="form-control" id="CausaMuerte"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Estado del Caso</label>
            <textarea class="form-control" id="EstadoDelCaso"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Circunstancias del Feminicidio</label>
            <textarea class="form-control" id="CircunstaciasFeminicidio"></textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id= "addNewCase"class="btn btn-primary">Agregar Caso de Feminicidio</button>
      </div>
    </div>
  </div>
</div>
